@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.body {
  min-height: 100vh;
  width: 100%;
  background: #c8e8e9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 75%;
  background: #fff;
  border-radius: 2px;
  padding: 20px 30px 30px 30px;
}
.container .content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.left {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -2px;
  position: relative;
}
.left::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  right: -70px;
  top: 10%;
  transform: transalteY(-50%);
  background: #818187;
}
.details {
  margin: 14px;
  text-align: center;
}
.name {
  font-size: 12px;
  color: #414142;
}
.tit {
  font-size: 12px;
}
.t1,
.t2 {
  font-size: 12px;
  color: #7a7ad1;
}
.right {
  width: 75%;
  margin-left: 155px;
}
.t {
  font-size: 25px;
  font-weight: 600;
  color: #3e2093;
}
.form {
  font-size: 23px;
  font-weight: 600;
  color: #3e2093;
}
.inputb {
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.inputb label {
  font-size: 12px;
}
.inputb input {
  height: 80%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 10px;
  background-color: #f0f1f8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.msg textarea {
  height: 80%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 10px;
  background-color: #f0f1f8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
  min-height: 110px;
  margin-top: 6px;
}
.right.inputb textarea {
  padding-top: 6px;
}
.button {
  display: inline-block;
  margin-top: 10px;
}
.button input[type="button"] {
  color: #fff;
  font-size: 13px;
  outline: none;
  border: none;
  padding: 0.4rem;
  border-radius: 6px;
  background: #209320;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="button"] {
  background: #29bc3f;
}
@media (max-width: 950px) {
  .container {
    width: 90%;
    padding: 30px 40px 40px 35px;
  }
  .container.container.content.right {
    width: 75%;
    margin-left: 55px;
  }
}
@media (max-width: 820px) {
  .container {
    margin: 40px 0;
    height: 100%;
  }
  .container.content {
    flex-direction: column-reverse;
  }
  .container.content.left {
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .container.content.left::before {
    display: none;
  }
  .container.content.right {
    width: 100%;
    margin-left: 0;
  }
}


.logo {
  width: 80px;
  height: 70px;
}
#navItem1 {
  color: #323f4b;
  font-family: "Roboto";
}
#navItem2 {
  color: #323f4b;
  font-family: "Roboto";
}
#navItem3 {
  color: #323f4b;
  font-family: "Roboto";
}
#navItem4 {
  color: #323f4b;
  font-family: "Roboto";
}
.btn-group{
  font-family: "Roboto";
  color: #323f4b;
  

}
.drp-btn{
  color: #323f4b;
  margin-left: 5%;
  text-decoration: none;
}
.Nav_List{
text-decoration: none;
color:black;
font-size:13px;
}
.banner-section-bg-container {
  background-image: url("https://t3.ftcdn.net/jpg/03/69/00/58/360_F_369005893_UYbUUUHDiB0HT7vs7EpO0JZ4vf830R5K.jpg");
  height: 100vh;
  background-size: cover;
}
.banner-heading {
  color: white;
  font-family: "Roboto";
  font-size: 45px;
  font-weight: 300;
}
.banner-caption {
  color: #f5f7fa;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 300;
}

.events-section {
  background-color: white;
}
.events-heading {
  color: #183b56;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 700;
}
.events-image {
  border-radius: 16px;
}
.events-title {
  color: #323f4b;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  margin-top: 24px;
}
.menu-item-link {
  color: #d0b200;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
}
.events-card {
  border-radius: 16px;
}
.greetings-section {
  background-color: white;
}
.greetings-section-img {
  width: 270px;
}
.greetings-section-heading {
  color: #183b56;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 700;
}
.greetings-section-description {
  color: #5a7184;
  font-family: "Roboto";
  font-size: 16px;
}
.principal-section {
  background-color: #f9fbfe;

}
.principal-section-img {
  width: 270px;
}
.principal-section-heading {
  color: #183b56;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 700;
}
.principal-section-description {
  color: #5a7184;
  font-family: "Roboto";
  font-size: 16px;
}
 

.follow-us-section {
  background-color: white;
}
.follow-us-section-heading {
  text-align: center;
  color: #183b56;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 700;
}
.follow-us-icon-container {
  background-color: #faf7e8;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  margin: 15px;
  padding-top: 22px;
  padding-bottom: 14px;
  padding-right: 16px;
  padding-left: 22px;
}
.icon {
  color: #d0b200;
  font-size: 35px;
}
.footer-section {
  background-color: #0d2436;
}
.footer-section-mail-id {
  color: #959ead;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
}
.footer-section-address {
  color: #959ead;
  font-family: "Roboto";
  font-size: 14px;
}